<p style="color: green"><%= notice %></p>

<h1>Dogs</h1>

<%= turbo_frame_tag "new_dog" do %>
  <%= link_to "New dog", new_dog_path, class: "btn btn-primary" %>
<% end %>
<div id="dogs">
  <% @dogs.each do |dog| %>
    <%= render dog %>
  <% end %>
</div>
